.centerComponents {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.city {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.temp_c {
  font-size: 80px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.temp {
  font-size: 25px;
  font-weight: 600;
  margin-top: 27px;
  display: flex;
  align-items: center;
}

.tempMinMax {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;
}

.tempMinMax p {
  margin: 0 5px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}

.weatherInfo {
  text-align: center;
  margin: 10px;
}
.weatherInfo p {
  align-items: center;
}
.weatherInfo p:not(:last-child)::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}

.hourlyForecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 50px;
}

.divHour {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}
