.layout {
  height: 100vh;
  margin: 0% !important;
  padding-right: 0% !important;
}

.header {
  background-color: rgba(255, 255, 255, 0);
}

.content {
  height: 100vh;
  background-color: #ffffff;
  margin: 0% !important;
  color: #ffffff;
}

.icon {
  font-size: 25px !important;
  color: black;
}